body{
  background-color: #3500D3;
}
.App {
  text-align: center;
  width: 75%;
  background-color:white;
  margin: 0 auto;
  border-radius: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input{
  margin:1%;
  padding: 12px 20px;
  padding-top: 2%;
  background-color: #8FC1E3;
  font-size: 1.4rem;
}

.button{
  background-color:  #8FC1E3;
  color:darkblue;
  font-size: 1.2rem;
  padding: 1%;
  margin: 1%;
}